<div class="body">
  <app-header></app-header>
  <div class="container" style="padding-top: 15px">
    <div class="row">
      <div class="col-xs-8">
        <mat-card class="colsHeight">
          <mat-card-title>
            <app-weather-select></app-weather-select>
          </mat-card-title>
          <mat-card-content>
            <app-weather-detail></app-weather-detail>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xs-4">
        <mat-card class="colsHeight">
          <mat-card-title> Favourites </mat-card-title>
          <mat-card-content>
            <app-weather-favourites></app-weather-favourites>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
